[defaults]
host_key_checking = False #Tat kiem tra host key SSH de tranh loi khi ket noi lan dau
inventory = inventory.yml #chi dinh file inventory mac dinh
deprecation_warnings = False #tat cac tinh nang cu

